# BigQuery Magic Commands and DML

The examples in this notebook introduce features of [BigQuery Standard SQL](https://cloud.google.com/bigquery/sql-reference/) and [BigQuery SQL Data Manipulation Language (beta)](https://cloud.google.com/bigquery/sql-reference/dml-syntax). BigQuery Standard SQL is compliant with the SQL 2011 standard. You've already seen the use of the magic command `%%bq` in the [Hello BigQuery](./Hello BigQuery.ipynb) and [BigQuery Commands](./BigQuery Commands.ipynb) notebooks. This command and others in the Google Cloud Datalab API support BigQuery Standard SQL.

## Using the BigQuery Magic command with Standard SQL

First, we will cover some more uses of the `%%bq` magic command. Let's define a query to work with:

In [3]:
%load_ext google.datalab.kernel

In [4]:
%%bq query --name UniqueNames2013
WITH UniqueNames2013 AS
(SELECT DISTINCT name
  FROM `bigquery-public-data.usa_names.usa_1910_2013`
  WHERE Year = 2013)
SELECT * FROM UniqueNames2013

Now let's list all available commands to work with `%%bq`

In [5]:
%%bq -h

usage: %bq [-h]
           {datasets,tables,query,execute,extract,sample,dryrun,udf,datasource,load,pipeline}
           ...

Execute various BigQuery-related operations. Use "%bq <command> -h" for help
on a specific command.

positional arguments:
  {datasets,tables,query,execute,extract,sample,dryrun,udf,datasource,load,pipeline}
                        commands
    datasets            Operations on BigQuery datasets
    tables              Operations on BigQuery tables
    query               Create or execute a BigQuery SQL query object,
                        optionally using other SQL objects, UDFs, or external
                        datasources. If a query name is not specified, the
                        query is executed.
    execute             Execute a BigQuery SQL query and optionally send the
                        results to a named table. The cell can optionally
                        contain arguments for expanding variables in the
                        query.
    extract             Extract a query or table into file (local or GCS)
    sample              Display a sample of the results of a BigQuery SQL
                        query. The cell can optionally contain arguments for
                        expanding variables in the query, if -q/--query was
                        used, or it can contain SQL for a query.
    dryrun              Execute a dry run of a BigQuery query and display
                        approximate usage statistics
    udf                 Create a named Javascript BigQuery UDF
    datasource          Create a named Javascript BigQuery external data
                        source
    load                Load data from GCS into a BigQuery table. If creating
                        a new table, a schema should be specified in YAML or
                        JSON in the cell body, otherwise the schema is
                        inferred from existing table.
    pipeline            Creates a GCS/BigQuery ETL pipeline. The cell-body is
                        specified as follows: input: table | path: <BQ table
                        name or GCS path; both if path->table load is also
                        required> schema: <For syntax, refer '%bq execute'>
                        format: {csv (default) | json} csv: <This section is
                        relevant only when 'format' is 'csv'> delimiter: <The
                        field delimiter to use; default is ','> skip: <Number
                        of rows at the top of a CSV file to skip; default is
                        0> strict: <{True | False (default)}; whether to
                        accept rows with missing trailing (or optional)
                        columns> quote: <Value used to quote data sections;
                        default is '"'> mode: <{append (default) | overwrite};
                        applicable if path->table load> transformation:
                        <optional; when absent, a direct conversion is done
                        from input (path|table) to output (table|path)> query:
                        <name of BQ query defined via "%bq query --name ...">
                        output: table | path: <BQ table name or GCS path; both
                        if table->path extract is required> mode: <{append |
                        overwrite | create (default)}; applicable only when
                        table is specified. format: <{csv (default) | json}>
                        csv: <This section is relevant only when 'format' is
                        'csv'> delimiter: <the field delimiter to use.
                        Defaults to ','> header: <{True (default) | False};
                        Whether to include an initial header line> compress:
                        <{True | False (default) }; Whether to compress the
                        data on export> schedule: start: <formatted as
                        '%Y-%m-%dT%H:%M:%S'; default is 'now'> end: <formatted
                        as '%Y-%m-%dT%H:%M:%S'; default is 'forever'>
                        interval: <{@once (default) | @hourly | @daily |
                        @weekly | @ monthly | @yearly | <cron ex>}> catchup:
                        <{True | False (default)}; when True, backfill is
                        performed for start and end times. retries: Number of
                        attempts to run the pipeline; default is 0
                        retry_delay_seconds: Number of seconds to wait before
                        retrying the task emails: <comma separated list of
                        emails to notify in case of retries, failures, etc.>
                        parameters: <For syntax, refer '%bq execute'>

optional arguments:
  -h, --help            show this help message and exit

The `dryrun` argument in ``%%bq`` can be helpful to confirm the syntax of the SQL query. Instead of executing the query, it will only return some statistics:

In [6]:
%%bq dryrun -q UniqueNames2013

Now, let's get a small sample of the results using the `sample` argument in ``%%bq``:

In [7]:
%%bq sample -q UniqueNames2013

QueryResultsTable job_wgyyH2H8oaCuQXhk7gUAZHwzfLad

Finally, We can use the `execute` command in %%bq to display the results of our query:

In [8]:
%%bq execute -q UniqueNames2013

QueryResultsTable job_12AUUGkq53LtWipiN45zSOzW7sP6

# Using Google BigQuery SQL Data Manipulation Language

Below, we will demonstrate how to use Google BigQuery SQL Data Manipulation Language (DML) in Datalab.

## Preparation

First, let's import the BigQuery module, and create a sample dataset and table to help demonstrate the features of Google BigQuery DML.

In [9]:
import google.datalab.bigquery as bq

In [10]:
# Create a new dataset (this will be deleted later in the notebook)
sample_dataset = bq.Dataset('sampleDML')
if not sample_dataset.exists():
  sample_dataset.create(friendly_name = 'Sample Dataset for testing DML', description = 'Created from Sample Notebook in Google Cloud Datalab')
  sample_dataset.exists()

In [11]:
# To create a table, we need to create a schema for it.
# Its easiest to create a schema from some existing data, so this
# example demonstrates using an example object
fruit_row = {
  'name': 'string value',
  'count': 0
}

sample_table1 = bq.Table("sampleDML.fruit_basket").create(schema = bq.Schema.from_data([fruit_row]), 
                                                          overwrite = True)

## Inserting Data

We can add rows to our newly created `fruit_basket` table by using an `INSERT` statement in our BigQuery Standard SQL query.

In [12]:
%%bq query
INSERT sampleDML.fruit_basket (name, count)
VALUES('banana', 5),
      ('orange', 10),
      ('apple', 15),
      ('mango', 20)

QueryResultsTable job_Gtk1FCrM5mk8vjZ4-vuSCBvJmXul

You may rewrite the previous query as:

In [13]:
%%bq query
INSERT sampleDML.fruit_basket (name, count)
SELECT * 
FROM UNNEST([('peach', 25), ('watermelon', 30)])

QueryResultsTable job_BqJCWHm0Gzx8RKOANKGqhVToknZJ

You can also use a `WITH` clause with `INSERT` and `SELECT`.

In [14]:
%%bq query
INSERT sampleDML.fruit_basket(name, count)
WITH w AS (
  SELECT ARRAY<STRUCT<name string, count int64>>
      [('cherry', 35),
      ('cranberry', 40),
      ('pear', 45)] col
)
SELECT name, count FROM w, UNNEST(w.col)

QueryResultsTable job_mcxrN4Dd2Kb4Z5KlSZqR4GjWukRN

Here is an example that copies one table's contents into another. First we will create a new table.

In [15]:
fruit_row_detailed = {
  'name': 'string value',
  'count': 0,
  'readytoeat': False
}
sample_table2 = bq.Table("sampleDML.fruit_basket_detailed").create(schema = bq.Schema.from_data([fruit_row_detailed]), 
                                                                   overwrite = True)

In [16]:
%%bq query
INSERT sampleDML.fruit_basket_detailed (name, count, readytoeat)
SELECT name, count, false
FROM sampleDML.fruit_basket

QueryResultsTable job_6-VQdMOxWDsCrKowPv242a4ajmzx

## Updating Data

You can update rows in the `fruit_basket` table by using an `UPDATE` statement in the BigQuery Standard SQL query. We will try to do this using the Datalab BigQuery API.

In [17]:
%%bq query
UPDATE sampleDML.fruit_basket_detailed
SET readytoeat = True
WHERE name = 'banana'

QueryResultsTable job_THfoqDVvU8pnCOGuY189sHKY-1-l

To view the contents of a table in BigQuery, use `%%bq tables view` command:

In [18]:
%%bq tables view --name sampleDML.fruit_basket_detailed

BigQuery Table - name: ajhamilton-scratch.sampleDML.fruit_basket_detailed

## Deleting Data

You can delete rows in the `fruit_basket` table by using a `DELETE` statement in the BigQuery Standard SQL query.

In [19]:
%%bq query
DELETE sampleDML.fruit_basket
WHERE name in ('cherry', 'cranberry')

QueryResultsTable job_2VFEve3ROPbEyCkVG6rwuL_0hwUK

Use the following query to delete the corresponding entries in `sampleDML.fruit_basket_detailed`

In [20]:
%%bq query
DELETE sampleDML.fruit_basket_detailed
WHERE NOT EXISTS
  (SELECT * FROM sampleDML.fruit_basket
  WHERE fruit_basket_detailed.name = fruit_basket.name)

QueryResultsTable job_6P3k-LC_bZTFCVfFz_MaYEJrfPI8

## Deleting Resources

In [21]:
# Clear out sample resources
sample_dataset.delete(delete_contents = True)